AWS_ACCESS_KEY_ID=YOUR_AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=YOUR_AWS_SECRET_ACCESS_KEY

# Chatwork Webhook トークン（Lambda署名検証用）
CW_WEBHOOK_TOKEN_YOKOTA=YOUR_WEBHOOK_TOKEN_YOKOTA
CW_WEBHOOK_TOKEN_FUJINO=YOUR_WEBHOOK_TOKEN_FUJINO
